@import 'prism-theme-vars/base.css';
@import 'codemirror-theme-vars/base.css';
@import 'prism-theme-vars/to-codemirror.css';

:root {
  --prism-font-family: var(--slidev-code-font-family);
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f8f8f8;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
}

html.dark {
    --prism-scheme: dark;
    --prism-foreground: #e4ddec;
    --prism-background: #181625;
    --prism-comment: #93899f;
    --prism-string: #e5c07b;
    --prism-literal: #c8b8dc;
    --prism-keyword: #b99af7;
    --prism-function: #e5c07b;
    --prism-deleted: #df949f;
    --prism-class: #e5c07b;
    --prism-builtin: #eeeaf6;
    --prism-property: #d5bfdc;
    --prism-namespace: #dba4c6;
    --prism-punctuation: #b7adca;
    --prism-decorator: #dba4c6;
    --prism-operator: #b7adca;
    --prism-number: #d9a66f;
    --prism-boolean: #b99af7;
    --prism-variable: #e4ddec;
    --prism-regex: #dba4c6;
    --prism-json-property: #cbb4e8;
    --prism-line-number: #93899f;
    --prism-line-number-gutter: #93899f;
    --prism-line-highlight-background: #30253e;
    --prism-selection-background: #43334f;
}
pre[class*='language-'] {
  padding: 0.5rem;
}

:not(pre) > code {
  font-size: 0.9em;
  background: var(--prism-background);
  font-weight: 300;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 0.25rem;
}


:not(pre) > code:before,
:not(pre) > code:after {
  content: '`';
  opacity: 0.50;
}

:not(pre) > code:before {
  margin-right: -0.08em;
}
