:root {
  --slidev-theme-primary: #5918df;
  /* --slidev-theme-aside: #d4c2e0; */
  --slidev-theme-aside: #cec6d3;
  --yasio-accent: #a886ff;
  --yasio-muted: #aaa4bb;
  --yasio-panel: #1e1c25;
  --yasio-line: #393240;
  /* --yasio-background: #0e0c14; */
  --yasio-background: #1a191c;
  --yasio-foreground: #eeeaf6;
  --yasio-yellow: #f6ed0f;
  --yasio-warning: var(--yasio-yellow);
}
html,body {
  background-color: var(--yasio-background);
}
.bg-main {
  background-color: var(--yasio-background);
  color: var(--yasio-foreground);
}
html.dark {
  #slide-content {
    background-color: var(--yasio-background);
    box-shadow: inset 0 0 100px black;
    color: #fff;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        transparent 50%,
        rgba(25, 15, 43, 0.223) 0
      );
      background-size: auto;
      background-size: 100% 4px;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: 9;
      opacity: 0.2;
    }
  }
}
.slidev-code {
  border: 1px solid var(--slidev-theme-primary);
}
.slidev-layout {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--yasio-background);
  color: var(--yasio-foreground);

  &.default, &.two-columns {
    &:before {
      content: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30';
      width: 30px;
      height: 100%;
      position: absolute;
      padding: 0 5px;
      word-spacing: 9999999px;
      left: 0;
      top: 0;
      background-color: #000000;
      border-right: 1px solid var(--slidev-theme-primary);
      z-index: 0;
      opacity: 1;
      line-height: 1.3;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.232);
      font-family: 'Consolas ligaturized v2', 'Consolas', monospace;
    }
    h1 {
      font-weight: bold;
      font-family: 'Consolas ligaturized v2', 'Consolas', monospace;

      &:before {
        content: '>';
        position: relative;
        color: var(--slidev-theme-primary);
        text-shadow: 0 0 5px var(--slidev-theme-primary);
        font-size: 0.9em;
        margin-right: 5px;
      }
      &:after {
        content: '====';
        position: relative;
        color: var(--slidev-theme-primary);
        text-shadow: 0 0 5px var(--slidev-theme-primary);
        font-size: 0.4em;
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }
  }
  &.center,
  &.cover {
    display: grid;
    height: 100%;
    h1 {
      font-size: 3.75rem;
      line-height: 1.25;
      margin: 0 0 0.25rem 2rem;
      position: relative;
      font-weight: bold;
      font-family: 'Consolas ligaturized v2', 'Consolas', monospace;
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.485);

      &:before {
        content: '>';
        position: absolute;
        color: var(--slidev-theme-primary);
        text-shadow: 0 0 5px var(--slidev-theme-primary);
        font-size: 0.8em;
        margin-left: -35px;
        line-height: 73px;
      }
      &:after {
        text-shadow: 0 0 5px #fff;
        color: #fff;
        content: '█';
        position: relative;
        opacity: 0;
        margin-left: 10px;
        animation: slidev-blink 1.4s infinite;
        font-size: 0.8em;
      }

      .text-primary {
        text-shadow: 0 0 3px rgba(90, 24, 223, 0.47);
      }
    }

    .bg {
      background-image: radial-gradient(ellipse at 90% 5%, #3f225b 0%, transparent 65%);
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.45;
      pointer-events: none;

      &.has-image {
        opacity: 0.05;
        background-position: center;
      }
    }
    .vignette {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: radial-gradient(circle, transparent 70%, #000000 130%);
        /* mix-blend-mode: difference; */
      }
    }
  }

  &.center {
  }
  &.cover {
    .cover-content {
      position: static;
      z-index: 2;
    }

    h1 + p {
      margin-top: -0.5rem;
      margin-bottom: 1rem;
      opacity: 0.9;
      color: var(--slidev-theme-aside);

      &:before {
        content: '=================';
        letter-spacing: 0.2vw;
        position: relative;
        color: var(--slidev-theme-primary);
        text-shadow: 0 0 5px var(--slidev-theme-primary);
        font-size: 0.8em;
        width: 100%;
        display: flex;
        margin-bottom: 10px;
      }
    }

    p + h2,
    ul + h2,
    table + h2 {
      margin-top: 2.5rem;
    }
  }

  &.fact {
    text-align: center;
    display: grid;
    height: 100%;
    h1 {
      font-size: 6rem;
      font-weight: 700;
    }
    h1 + p {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &.statement {
    text-align: center;
    display: grid;
    height: 100%;

    h1 {
      font-size: 3.75rem;
      font-weight: 700;
    }
  }

  &.quote {
    display: grid;
    height: 100%;

    h1 + p {
      margin-top: 0.5rem;
    }
  }
}

.slidev-layout li {
  margin-bottom: 0.8em;
  line-height: 1.5em;
}
.slidev-layout ul.condensed-list, .slidev-layout ol.condensed-list {
  li {
    margin-bottom: 0.35em;
  }
}
.slidev-layout ol {
  margin-left: 1em;
}
.slidev-layout ol li::marker {
  font-family: "Consolas ligaturized v2", "Consolas", monospace;
  color: var(--slidev-theme-primary);
}

.text-primary {
  color: var(--slidev-theme-primary);
}
.flex-items-center {
  align-items: center;
}

.cursor-blinking {
  position: relative;
  &:after {
    color: #fff;
    text-shadow: 0 0 5px #fff;
    content: '█';
    position: relative;
    opacity: 0;
    margin-left: 10px;
    animation: slidev-blink 1.4s infinite;
    font-size: inherit;
    line-height: inherit;
  }
}

@keyframes slidev-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.img-wrp-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  }

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    color: #fff;
    font-size: 2.1rem;
    line-height: 1;
    text-align: center;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    text-shadow: 0 0 5px #000;
    z-index: 2;
  }
}

.my-list li {
  line-height: 1.5 !important;
  margin-bottom: 20px;
}

#slide-content > svg {
  z-index: 9;
}
.print-slide-container {
  .slidev-layout.center .vignette,
  .slidev-layout.cover .vignette {
    display: none;
    &:after {
      content: none;
    }
  }
  .img-wrp-fullscreen {
    display: none;
  }
  .hide-in-print {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .slidev-layout h1::after,
  .cursor-blinking::after {
    animation: none !important;
    opacity: 1;
  }
}
